body {
  height: 100vh;
}

.body__container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #4C4CFF;
}

.container {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  
    @media screen and (min-width: 768px) {
      max-width: 768px;
    }
  
    @media screen and (min-width: 1200px) {
      max-width: 1200px;
    }
  
    // outline: 1px solid green;
  }

main {
  flex-grow: 1;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  margin: 0 auto;
    
}

.search-form input {
  display: block;
  width: 200px;
  height: 30px;
  padding-left: 15px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  &:focus,
  &:not(:placeholder-shown) {
    border: 1px solid #000;
  }
}

.search-form button {
  margin-left: 10px;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  // height:;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.photo-card {
  font-size: 14px;
  margin-top: 10px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 40px) / 2);
    margin: 10px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 80px) / 4);
  }
}

.photo-link {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-image {
  flex-grow: 1;
}

.card-image img {
  height: 100%;
  object-fit: cover;
  flex-grow: 1;
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-more {
  display: block;
  margin: 0 auto 30px;
  padding: 10px;
  color: #ffffff;
  background-color: #4C4CFF;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  &:focus,
  &:hover {
    background-color: #4C7CFF;
  }
}

.load-more.is-hidden {
  display: none;
}

footer {
  background-color: #4C4CFF;
  // position: fixed;
  bottom: 0;
  // width: 100vw;
}

.footer-text {
  color: #ffffff;
  padding: 10px 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}